body{
    margin: 0;
}

.header{
    background: gray;
    padding: 20px;
}

.header-title{
    margin-top: 0;
}

.header-nav{
    margin: 20px 0;
}

.header-nav a{
    padding: 0 10px;
}

.main{
    background: lightgrey;
    padding: 20px;
}


.footer{
    background: gray;
    padding: 10px 20px;
}